:root {
  --editor: #152143;
  --bg: #2e4481;
  --font: #fff;
  --font-dark: #ffefd2;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
}

p {
  margin-bottom: 0.2rem;
}

.ProseMirror-menubar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div[title="Select parent node"] {
  display: none;
}

.ProseMirror {
  height: 100%
}
.dark #sync {
  background: var(--bg);
}

.dark #app {
  background: var(--bg);
  color: var(--font)
}

.dark .ProseMirror-menu-active {
  background: var(--bg);
}

.ProseMirror-menubar {
  background: white;
}


.dark .ProseMirror-menubar {
  background: var(--editor);
  color: white
}

.dark #editor {
  background: var(--editor);
}